[submodule "DesarrolloWebCursos/PlatziStore"]
	path = DesarrolloWebCursos/PlatziStore
	url = git@github.com:JohanSP721/platzi-store.git
[submodule "DesarrolloWebCursos/PlatziStoreBackend"]
	path = DesarrolloWebCursos/PlatziStoreBackend
	url = git@github.com:JohanSP721/platzi-store-backend.git
[submodule "DesarrolloWebCursos/TransformacionesyTrancisionesCSS"]
	path = DesarrolloWebCursos/TransformacionesyTrancisionesCSS
	url = git@github.com:JohanSP721/TransformacionesYTrancisionesCSS.git
[submodule "DesarrolloWebCursos/AnimacionesCSS"]
	path = DesarrolloWebCursos/AnimacionesCSS
	url = git@github.com:JohanSP721/Animaciones-CSS.git
[submodule "DesarrolloWebCursos/Curso-Practico-Javascript"]
	path = DesarrolloWebCursos/Curso-Practico-Javascript
	url = git@github.com:JohanSP721/Curso-Practico-Javascript.git
[submodule "DesarrolloWebCursos/ToDosReact"]
	path = DesarrolloWebCursos/ToDosReact
	url = git@github.com:JohanSP721/ToDosReact.git
[submodule "DesarrolloWebCursos/ComplejidadAlgoritmicaJS"]
	path = DesarrolloWebCursos/ComplejidadAlgoritmicaJS
	url = git@github.com:JohanSP721/ComplejidadAlgoritmicaJS.git
[submodule "Portafolio"]
	path = Portafolio
	url = git@github.com:JohanSP721/Portafolio.git
[submodule "DesarrolloWebCursos/AngularRickAndMorty"]
	path = DesarrolloWebCursos/AngularRickAndMorty
	url = git@github.com:JohanSP721/AngularRickAndMorty.git
[submodule "DesarrolloWebCursos/ClonWikipedia"]
	path = DesarrolloWebCursos/ClonWikipedia
	url = git@github.com:JohanSP721/ClonWikipedia.git
[submodule "DesarrolloWebCursos/SPA"]
	path = DesarrolloWebCursos/SPA
	url = git@github.com:JohanSP721/SPA.git
[submodule "DesarrolloWebCursos/ReactPlatziStore"]
	path = DesarrolloWebCursos/ReactPlatziStore
	url = git@github.com:JohanSP721/ReactPlatziStore.git
[submodule "DesarrolloWebCursos/ReactPlatziVideo"]
	path = DesarrolloWebCursos/ReactPlatziVideo
	url = git@github.com:JohanSP721/ReactPlatziVideo.git
[submodule "DesarrolloWebCursos/Puppeteer"]
	path = DesarrolloWebCursos/Puppeteer
	url = git@github.com:JohanSP721/Puppeteer.git
[submodule "DesarrolloWebCursos/AngularPlatziStore"]
	path = DesarrolloWebCursos/AngularPlatziStore
	url = git@github.com:JohanSP721/AngularPlatziStore.git
[submodule "DesarrolloWebCursos/CodigosSeguridadReact"]
	path = DesarrolloWebCursos/CodigosSeguridadReact
	url = git@github.com:JohanSP721/CodigosSeguridadReact.git
[submodule "PruebaTecnica"]
	path = PruebaTecnica
	url = git@github.com:JohanSP721/PruebaTecnica.git
[submodule "DesarrolloWebCursos/ReactPlatziShop"]
	path = DesarrolloWebCursos/ReactPlatziShop
	url = git@github.com:JohanSP721/ReactPlatziShop.git
[submodule "DesarrolloWebCursos/ExpressAPI"]
	path = DesarrolloWebCursos/ExpressAPI
	url = git@github.com:JohanSP721/ExpressAPI.git
[submodule "TechnicalTestLeanware"]
	path = TechnicalTestLeanware
	url = git@github.com:JohanSP721/TechnicalTestLeanware.git
[submodule "Angular"]
	path = Angular
	url = git@github.com:JohanSP721/Angular.git
