<section class="about__page">
	<h1 class="title">Rick And Morty GraphQL APP</h1>
	<div class="about__container">
		<p class="about__paragraph">
			Angular 11 + Rick And Morty API. <br>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, adipisci delectus assumenda autem magni mollitia veniam sit perspiciatis vero doloribus corrupti pariatur voluptatibus dolore est culpa temporibus illo accusantium! Sed.
		</p>
		<figure class="about__img">
			<img src="/assets/imgs/web_dev.svg" alt="Web Dev" class="about__picture" rel="preload" as="image" width="406" height="306">
		</figure>
	</div>
	<p class="about__copy">
		Developed by <span class="text-white">JohanSP7721</span>
	</p>
</section>