* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

.margin {
	margin: 10rem;
}

.table {
	width: 100%;
	text-align: left;
	font-size: 1.6rem;
}

.table td {
	padding: 1rem 0;
}

.nav {
	background-color: #253A46;
	padding: 2rem;
	font-size: 2rem;
}

.nav__link {
	color: white;
	margin-right: 2rem;
}
